$font-primary: 'Lato', sans-serif;
$font-sonoma: 'Sonoma', sans-serif;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$text-xxxl: 40px;
$text-xxl: 32px;
$text-xl: 28px;
$text-l: 20px;
$text-m: 18px;
$text-s: 16px;
$text-xs: 14px;
$text-xxs: 12px;
$text-xxxs: 10px;

$color-white: #ffffff;
$color-gray-100: #03050F;
$color-gray-200: #0A051E;
$color-neutral: #141938;
$color-blue: #4F4FFF;
$color-text: #333333;
$color-neutral-400: #5E6488;
$color-neutral-600: #7981B2;
$color-fondo: #FAFBFF;
$color-fondo-neutral: #EDEFFC;
$color-fondo-login: #F8F9FF;
$color-success: #389E0D;
$color-error: #FF1C44;
$color-gradient-start: #00F4E2;
$color-gradient-end: #00FF7F;