@use "/src/styles/variables.scss" as vars;
.step-nav {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  background-color: vars.$color-fondo-neutral;
  font-family: vars.$font-primary;
  &__list {
    display: flex;
    gap: 3rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    cursor: default;
    gap:16px;

    &--active .step-nav__circle {
      background-color: vars.$color-blue;
      border-color: vars.$color-blue;
        font-weight: vars.$font-weight-bold;
      
      color: #fff;
    }

    &--active .step-nav__label {
      color: vars.$color-neutral;
        font-weight: vars.$font-weight-bold;
      

    }
  }

  &__circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid vars.$color-neutral-600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: vars.$color-neutral-600;
    transition: all 0.3s ease;
    font-size: vars.$text-xxs;
  }

  &__label {
    
    color: #666;
    transition: color 0.3s ease;
    font-size: vars.$text-s;

  }
}
